body { 
    margin: 0; 
    font-family: Arial, sans-serif; 
    background: beige; 
} 
 
/* Sticky navbar */ 
nav { 
    position: sticky; 
    top: 0; 
    background: #222; 
    padding: 12px; 
    display: flex; 
    gap: 20px; 
} 
 
nav a { 
    color: white; 
    text-decoration: none; 
    font-size: 17px; 
} 
 
nav a:hover { 
    color: orange; 
} 
 
/* Sections */ 
section { 
    padding: 20px; 
    max-width: 900px; 
    margin: auto; 
} 
 
h1, h2 { 
    color: #333; 
    text-align: center; 
} 
 
/* Cards */ 
.card { 
    background: white; 
    padding: 15px; 
    margin: 12px 0; 
    border-left: 3px solid orange; 
    border-radius: 6px; 
} 
 
/* Login form */ 
.login-box { 
    background: white; 
    max-width: 350px; 
    margin: 40px auto; 
    padding: 20px; 
    border-radius: 6px; 
    border: 1px solid #ddd; 
} 
 
input { 
    width: 100%; 
    padding: 10px; 
    margin: 8px 0; 
    border: 1px solid #aaa; 
    border-radius: 4px; 
} 
 
button { 
    width: 100%; 
    padding: 10px; 
    background: orange; 
    border: none; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
} 
 
button:hover { 
background: #e38d00; 
}